<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{fragments/layoutStaff :: layout (~{::body},'index')}"
>
  <head th:fragment="header">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="../favicon.ico" />
    <link
      rel="icon"
      type="image/png"
      href="../icon-192x192.png"
      sizes="192x192"
    />
    <title id="pageTitle">Supervisor | Create account</title>
    <link
      th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css}"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
    <link
      th:href="@{https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap}"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/stylesheets/account.css}"
    />
  </head>
  <body>
    <section
      class="d-flex justify-content-center align-items-center"
      style="width: 100%; height: 90vh"
    >
      <form
        th:action="@{/export-to-pdf}"
        th:object="${item}"
        method="post"
        modelAttribut="generateItem"
        class="accountCreateCon d-flex flex-column justify-content-center align-items-center col-10"
        style="padding: 20px 30px"
      >
        <h3>Generate item report</h3>
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mt-3 mb-3 border-bottom"
          style="padding: 0 40px; width: 100%"
        ></div>
        <div
          class="container-fluid d-flex flex-row justify-content-start align-items-start mt-5"
        >
          <p class="h6 col-4 mt-2" style="text-align: center; margin: 0">
            Report details
          </p>

          <div class="d-flex flex-column col-8">
            <div class="row g-3 align-items-center">
              <div class="col-5">
                <label for="inputPassword6" class="col-form-label"
                  >Item type :
                </label>
              </div>
              <div class="col-auto">
                <div
                  class="btn-group"
                  role="group"
                  aria-label="Basic radio toggle button group"
                >
                  <input
                    type="radio"
                    class="btn-check"
                    name="category"
                    id="btnradio1"
                    autocomplete="off"
                    value="all"
                    checked
                  />
                  <label class="btn btn-outline-primary" for="btnradio1"
                    >All</label
                  >

                  <input
                    type="radio"
                    class="btn-check"
                    name="category"
                    id="btnradio2"
                    autocomplete="off"
                    value="food"
                  />
                  <label class="btn btn-outline-primary" for="btnradio2"
                    >Food</label
                  >

                  <input
                    type="radio"
                    class="btn-check"
                    name="category"
                    id="btnradio3"
                    autocomplete="off"
                    value="item"
                  />
                  <label class="btn btn-outline-primary" for="btnradio3"
                    >Furniture</label
                  >
                </div>
              </div>
            </div>

            <div class="row g-3 align-items-center mt-2">
              <div class="col-5">
                <label for="inputPassword6" class="col-form-label"
                  >Date from :
                </label>
              </div>
              <div class="col-auto">
                <input
                  type="date"
                  name="date_from"
                  class="form-control mb-3"
                  aria-label="dateFrom"
                  id="currentDateInput"
                  required
                />
              </div>
            </div>

            <div class="row g-3 align-items-center">
              <div class="col-5">
                <label for="inputPassword6" class="col-form-label"
                  >Date to :
                </label>
              </div>
              <div class="col-auto">
                <input
                  type="date"
                  name="date_to"
                  class="form-control mb-3"
                  id="currentDateInput2"
                  aria-label="dateTo"
                  required
                />
              </div>
            </div>
            <!-- <a href="/export-to-pdf" class="btn btn-primary">Download PDF File</a> -->

            <!-- <input
              type="text"
              name="username"
              class="form-control mb-3"
              aria-label="username"
              placeholder="Username"
            />
            <input
              type="password"
              name="password"
              class="form-control mb-3"
              aria-label="password"
              placeholder="Password"
            />
            <select
              class="form-select"
              name="roles"
              aria-label="role"
              aria-placeholder="User role"
            >
              <option selected disabled hidden>User Role</option>
              <option value="staff">staff</option>
              <option value="supervisor">supervisor</option>
            </select> -->

            <div
              class="d-flex flex-row justify-content-end"
              style="margin-top: 5.5rem"
            >
              <a th:href="@{/accounts}" style="text-decoration: none">
                <button
                  type="reset"
                  class="btn btn-danger"
                  style="margin: 0 20px"
                >
                  Reset
                </button>
              </a>
              <button type="submit" class="btn btn-primary">Create</button>
            </div>
          </div>
        </div>
      </form>
    </section>
    <!-- Toast -->
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
      <div
        id="liveToast"
        class="toast"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
      >
        <div class="toast-header">
          <img
            src="../icon-192x192.png"
            class="rounded me-2"
            alt="..."
            width="20px"
          />
          <strong class="me-auto">VFIMS</strong>
          <!-- <small>11 mins ago</small> -->
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="toast"
            aria-label="Close"
          ></button>
        </div>
        <div class="toast-body">Create account failed!</div>
      </div>
    </div>
    <script
      th:src="@{https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js}"
      integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
      crossorigin="anonymous"
    ></script>
    <script
      th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js}"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
    <script>
      var currentDate = new Date().toISOString().split("T")[0];
      document.getElementById("currentDateInput").value = currentDate;
      document.getElementById("currentDateInput2").value = currentDate;

      // Set the minimum date to the current date
      document.getElementById("minDateInput").setAttribute("min", currentDate);

      const queryString = window.location.search;
      const urlParams = new URLSearchParams(queryString);
      const error = urlParams.get("success");

      // const toastTrigger = document.getElementById("liveToastBtn");
      const toastLiveExample = document.getElementById("liveToast");
      const toastBootstrap =
        bootstrap.Toast.getOrCreateInstance(toastLiveExample);
      if (error.toString() == "false") {
        toastBootstrap.show();
        console.log(error.toString());
      }
    </script>
  </body>
</html>
