@import "framework.css";

.formBox2 {
  padding: 10px;
  border: 1px solid #F4F4F4;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.vims-containerTop{
  margin: 20px;
}

.addAccountButton{
  background: #ffffff;
  border: 1px solid #f4f4f4;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 8px;
  text-decoration: none;
  color: black;
}

.addAccountButton:hover{
  background: lightgray;
}

.img-button{
  width: 20px;
}

.addAccountCon{
  background: #ffffff;
  border: 1px solid #f4f4f4;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}