body{
  position: relative;
width: 1440px;
height: 1570px;

background: #f0f2f5;
}

nav{
  background: white;
  position: absolute;
  width: 1440px;
  height: 64px;
  left: 0px;
  top: 0px;
  
}

.img-fluid{
  cursor: pointer;
}

.container{
position: absolute;
width: 1440px;
height: 64px;
left: 0px;
top: 0px;

}
.row {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  width: 111.9%;
  
  background: #FFFFFF;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
}

.side-menu{
  position: absolute;
  background-color: white;
  width:326px;
  height: 961px;
  top : 65px;
  left: 0px;
}


.side-menu a{
  display: block;
  line-height: 60px;
  transition: 0.5s;
  
}

.side-menu a:hover{
  background-color: white;
  padding-left: 20px;
}




.hr{
  padding: 0;
  margin: 0;
}

.container{
  background: white;
  position: absolute;
width: 1440px;
height: 64px;
left: 0px;
top: 0px;
}

.hr1{
width: 240.99px;
height: 1.98px;
left: 45px;
top: 161px;
border: 2px solid #E8E8E8;
transform: rotate(-0.47deg);
}



.dashboard{
  position: absolute;
  left: 28.83%;
  right: 2.76%;
  top: 8.64%;
  bottom: 88.24%;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
  /* or 112% */
  
  letter-spacing: 0.45px;
  
  color: #0B0B0B;
}

.icondash{
position: absolute;
left: 13.19%;
right: 77.61%;
top: 8.64%;
bottom: 88.24%;
}

.acc{
  position: absolute;
  left: 28.83%;
  right: 2.76%;
  top: 21.54%;
  bottom: 75.34%;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
  /* or 112% */
  
  letter-spacing: 0.45px;
  color: #0B0B0B;
}

.iconuser{
  position: absolute;
left: 13.19%;
right: 77.61%;
top: 21.54%;
bottom: 75.34%;
}

.iconitems{
  position: absolute;
left: 13.19%;
right: 77.61%;
top: 34.24%;
bottom: 62.64%;
}

.items{
  position: absolute;
left: 28.83%;
right: 2.76%;
top: 34.24%;
bottom: 62.64%;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 27px;
/* or 112% */

letter-spacing: 0.45px;
color: #0B0B0B;

}

.createitem{
  position: absolute;
left: 13.19%;
right: 77.61%;
top: 41.94%;
bottom: 54.94%;
}

.create{
  position: absolute;
left: 28.83%;
right: 2.76%;
top: 41.94%;
bottom: 54.94%;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 27px;
/* or 112% */

letter-spacing: 0.45px;
color: #0B0B0B;
}

.approve{
  position: absolute;
left: 13.19%;
right: 77.61%;
top: 49.64%;
bottom: 47.24%;
}

.app{
  position: absolute;
left: 28.83%;
right: 2.76%;
top: 49.64%;
bottom: 47.24%;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 27px;
/* or 112% */

letter-spacing: 0.45px;
color: #0B0B0B;


}

.releaseitem{
  
position: absolute;
left: 13.19%;
right: 77.61%;
top: 57.34%;
bottom: 39.54%;
}

.release{
  position: absolute;
  left: 28.83%;
  right: 2.76%;
  top: 57.34%;
  bottom: 39.54%;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
  /* or 112% */
  
  letter-spacing: 0.45px;
  color: #0B0B0B;
}

.hr1{
  position: absolute;
width: 240.99px;
height: 1.98px;
left: 45px;
top: 161px;

border: 2px solid #E8E8E8;
transform: rotate(-0.47deg);
}

.hr2{
  position: absolute;
width: 240.99px;
height: 1.98px;
left: 45px;
top: 282.98px;

border: 2px solid #E8E8E8;
transform: rotate(-0.47deg);
}

#rcorners2 {
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px; 
  width: 200px;
  height: 150px;  
}

.nama{
  position: absolute;
  width: 79.96px;
  height: 45px;
  left: 1279px;
  top: 11px;
 
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
  /* or 112% */
  
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.45px;
  
  color: #0B0B0B;
}

.border{
  
position: absolute;
width: 130px;
height: 45px;
left: 1269px;
top: 11px;
border-radius: 20px;
filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.1));
}

.circle{
position: absolute;
left: 91.5%;
right: 3.19%;
top: 20.31%;
bottom: 17.19%;
width: 40px;
border-radius: 50%;
mix-blend-mode: normal;
filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
}

.summary-box{      
  background-color: #ffffff;
  position: absolute;
  width: 1045px;
  height: 324px;
  left: 354px;
  top: 152px;
  border-radius: 20px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  }
  
  .summary-box:after {
    content: "";
    display: table;
    clear: both;
  }

  .text_summary{
  position: absolute;
  width: 166px;
  height: 41px;
  left: 354px;
  top: 111px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 27px;
  letter-spacing: 0.45px;
  color: #0B0B0B;
  }

  /**.TotalInventoryimage{
    position: absolute;
    width: 120px;
    height: 120px;
    left: 458px;
    top: 212px;
    background: url(TotalInventory.png);
  }**/

  .column {
    float: left;
    top: 22px;
    width: 33.33%;
    padding: 94px;
    padding-top: 70px;
    height: 300px; 
  }

  .box1{
    padding: 10px;
    bottom: 10px;
  }

  .totalitem{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.45px;
    color: #000000;
  }

  .totalitem-number{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.45px;
    color: #3D65E8;
  }

  .requestItem{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.45px;
    color: #000000;
  }

  .requestItem-number{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.45px;
    color: #3D65E8;
  }

  .totalAccount{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.45px;
    color: #000000;
  }

  .totalItem-number{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.45px;
    color: #3D65E8;
  }

  .text_item_details{
    position: absolute;
    width: 213px;
    height: 41px;
    left: 352px;
    top: 524px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 27px;
    letter-spacing: 0.45px;
    color: #0B0B0B;
  }

  .itemDetails-box{
    position: absolute;
    width: 1040px;
    height: 515.29px;
    left: 354px;
    top: 563px;
    background: #FFFFFF;
    border: 1px solid #F4F4F4;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
  }

  .Types{
    position: absolute;
    width: 244px;
    height: 31px;
    left: 550px;
    top: 80px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
    letter-spacing: 0.45px;
    color: #000000;
  }

  h2{
    position: absolute;
    width: 244px;
    height: 31px;
    left: 580px;
    top: 115px;
    position: relative;
    margin: .5rem 1rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    letter-spacing: 0.45px;
    color: #000000;
  }

  h2 span{
    position: absolute;
    right: -2rem;
    top: 5rem;
    height: 1.2rem;
    width: 1.4rem;
    left: -37px;
    top: 5px;
  }

  span.dry-ingredients{
    background-color: #ab2300;
  }
  
  span.wet-ingredients{
    background-color: #ffcd00;
  }

  span.stuff{
    background-color: #009698;
  }

  .Quantity{
    position: absolute;
    width: 244px;
    height: 31px;
    left: 550px;
    top: 260px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
    letter-spacing: 0.45px;
    color: #000000;
  }

  h2.Quantity_label{
    position: absolute;
    width: 244px;
    height: 31px;
    left: 580px;
    top: 180px;
    position: relative;
    margin: .5rem 1rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    letter-spacing: 0.45px;
    color: #000000;
  }

  .chart-pie-container {
    padding: 3rem;
    position: absolute;
    width: 450px;
    height: 410px;
    left: 70px;
    top: 60px
  }

.Account-Details-box{
    position: absolute;
    width: 1040px;
    height: 450.29px;
    left: 354px;
    top: 1165px;
    background: #FFFFFF;
    border: 1px solid #F4F4F4;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.text_account_details{
    position: absolute;
    width: 257px;
    height: 41px;
    left: 352px;
    top: 1126px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 27px;
    letter-spacing: 0.45px;
    color: #0B0B0B;
}

  .Types-account{
    position: absolute;
    width: 244px;
    height: 31px;
    left: 550px;
    top: 80px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
    letter-spacing: 0.45px;
    color: #000000;

  }

  h2.type-account{
    position: absolute;
    width: 244px;
    height: 31px;
    left: 580px;
    top: 115px;
    position: relative;
    margin: .5rem 1rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    letter-spacing: 0.45px;
    color: #000000;
  }

  .Quantity-account{
    position: absolute;
    width: 244px;
    height: 31px;
    left: 550px;
    top: 215px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
    letter-spacing: 0.45px;
    color: #000000;
  }

  h2.Quantity_account_label{
    position: absolute;
    width: 244px;
    height: 31px;
    left: 580px;
    top: 180px;
    position: relative;
    margin: .5rem 1rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    letter-spacing: 0.45px;
    color: #000000;
  }

  span.Staff{
    background-color: #00aaee;
  }

  span.Supervisor{
    background-color: #ffae00;
  }

  
