@import "framework.css";

body {
  background-color: #f0f2f5 !important;
  height: 100%;
}

@media (min-width: 991.98px) {
  main {
    padding-left: 240px;
  }
}
#sticky-sidebar {
  background: #ffffff;
  border: 1px solid #f4f4f4;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.img_logo {
  position: absolute;
  top: 0px;
}

.navbar {
  background-color: #ffffff;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
}

@media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
  }
}

.row-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.btn-container-user {
  margin: 0 30px 0 0;
}

.nav-vfim {
  display: flex;

  justify-content: space-between;
}
.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

nav {
  background: white;
  position: absolute;
  width: 100vw;
  height: 64px;
  left: 0px;
  top: 0px;
}

.nav-link {
  text-decoration: none;
  color: #000 !important;
}

.nav-link:hover {
  background-color: #f4f4f4;
  padding-left: 20px;
}

.summary-box {
  background-color: #ffffff;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  padding-bottom: 20px;
}

.main-section {
  /* background-color: #f0f2f5; */
  /* height: 100vh; */
  padding: 70px 25px 0 !important;
}
.btn-outline-primary.btn-user {
  border: 2px solid #f4f4f4 !important;
  border-radius: 20px !important;
  color: #000000 !important;
  padding: 2px 2px 2px 15px !important;
}
.btn-outline-primary.btn-user:hover {
  color: #ffffff !important;
}
.avatar-circle {
  border-radius: 50px;
  border: 1px solid #f4f4f4;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: blue; */
  color: white;
}

.summary-box:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  top: 22px;
  width: 33.33%;
  padding: 94px;
  padding-top: 70px;
  height: 300px;
}
.pie-label {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  padding: 30px;
}
.colorselection {
  width: 20px;
  height: 20px;
  margin: 2px;
  margin-right: 15px;
}

.colorselection--yellow {
  background-color: #009698;
}

.colorselection--black {
  background: #ab2300;
}

.colorselection--red {
  background-color: #ffcd00;
}
.pLabel {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.box1 {
  padding: 10px;
  bottom: 10px;
}

.totalitem {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.45px;
  color: #000000;
}

.totalAccount {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.45px;
  color: #000000;
}

.totalitem-number {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.45px;
  color: #3d65e8;
}

.requestItem {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.45px;
  color: #000000;
}

.requestItem-number {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.45px;
  color: #3d65e8;
}

.totalItem-number {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.45px;
  color: #3d65e8;
}

/* .text_details {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  margin-top: 35px;
  color: #0b0b0b;
} */

.itemDetails-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-around;
  width: 100%;
  background: #ffffff;
  border: 1px solid #f4f4f4;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.chart-pie-container {
  display: flex;
  justify-content: center;
  padding: 3rem;
  width: 50%;
  height: 410px;
}

.chart-pie-account {
  display: flex;
  justify-content: center;
  padding: 3rem;
  width: 50%;
  height: 250px;
}

.accountDetails-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-around;
  width: 100%;
  background: #ffffff;
  border: 1px solid #f4f4f4;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.colorselection--blue {
  background: #06aae9;
}

.colorselection--yel {
  background: #fbb03b;
}
