@import "framework.css";

.hidden {
  display: none;
}
.requestitem{
  background: #ffffff;
  border: 1px solid #f4f4f4;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin: 10px;
}

 .btn-custom{
  font-weight: bold;
  height: auto;
  width: 200px;
  margin: 0 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  
}

.btn-custom:hover{
  background-color: #87A2FD;
  color: white !important;
   
 }
 
.btn-custom:active{
 background-color: #87A2FD;
 color: white !important;
  
}

.modal-body {
  background-color: #f0f2f5;
}

.modal-footer .btn {
  font-weight: bold;
}

