@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif&display=swap");

body {
  background-color: #ffffff !important;
}

.main-section {
  padding: 0% !important;
  background-color: #ffffff !important;
}

.custom-button {
  background-color: #ffffff;
  border-color: lightgrey !important;
  color: black !important;
  font-weight: bold;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  min-width: 70px;
}

@media (max-width: 768px) {
  .custom-button {
    min-width: 60px;
  }
}

@media (max-width: 576px) {
  .custom-button {
    min-width: 50px;
  }
}

.custom-button:hover,
.custom-button.active {
  background-color: #87a2fd !important;
  color: white !important;
}

.modal-backdrop {
  backdrop-filter: none !important;
}

.modal-footer .btn {
  font-weight: bold !important;
}

.modal-body {
  background-color: #f0f2f5 !important;
}

.custom-mt {
  margin-top: 7% !important;
}

.table tbody td,
.table thead th {
  vertical-align: baseline !important;
}

th p {
  margin-bottom: 0 !important ;
}

/* tr {
  font-family: "Roboto Serif", serif !important;
} */
a{
  text-decoration: none;
}

.tableViewCon {
  background: #ffffff;
  border: 1px solid #f4f4f4;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin: 10px;
}

.approveCon{
  background: #ffffff;
  border: 1px solid #f4f4f4;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 0 0px 20px;
  min-height: 80vh;
  max-height: 80vh;
  overflow-y: scroll;
}